openpyxl
pandas
numpy
pillow
scikit-learn
reportlab
qdrant-client
requests
PyPDF2
python-multipart
langgraph
fastapi
uvicorn
streamlit
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-qdrant
